In [6]:
import psycopg2

conn = psycopg2.connect(
    dbname="postgres",
    user="saraida",
    password="saraida",
    host="localhost",
    port="5432"
)

cur = conn.cursor()

cur.execute('''
    CREATE TABLE IF NOT EXISTS test_table (
        id SERIAL PRIMARY KEY,
        name VARCHAR(100),
        age INT
    );
''')

cur.execute('''
    INSERT INTO test_table (name, age) VALUES
    ('Alice', 30),
    ('Bob', 25);
''')

conn.commit()

cur.execute('SELECT * FROM test_table;')
rows = cur.fetchall()

for row in rows:
    print(row)

cur.close()
conn.close()

(1, 'Alice', 30)
(2, 'Bob', 25)